name: ci

on: [push]

permissions:
  contents: read

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Build
        run: CGO_ENABLED=0 go build -ldflags "-X main.build_version=test" -v .

      - name: Test
        run: go test -v ./...
