name: ci

on: [push]

permissions:
  contents: read

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Build
        run: CGO_ENABLED=0 go build -ldflags "-X main.build_version=test" -v .

      - name: Test
        run: go test -v ./...
