name: ci

on: [push]

permissions:
  contents: read

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Build
        run: CGO_ENABLED=0 go build -ldflags "-X main.build_version=test" -v .

      - name: Test
        run: go test -v ./...
